<!DOCTYPE html>
<html>
  <head>
    <title>ログイン</title>
  </head>
  <body>
    ユーザ情報を入力ください。<br>
    <input type="text" id="userid" name="username">
    <input type="password" id="password" name="password" minlength="4" required>
    <input type="submit" value="Sign in">
  </body>
</html>
